<dx-text-box
  #textBox
  width="500"
  [showClearButton]="true"
  [placeholder]="'Pesquise aqui...'"
  [value]="clientePesquisado"
  (onFocusIn)="onFocus == true"
  (onFocusOut)="onFocus == false"
  (valueChange)="onValueChange($event)">
</dx-text-box>

<dx-select-box
  #resultados
  width="500"
  [displayExpr]="formataCliente"
  [visible]="pesquisando"
  [dataSource]="dataSource"
  [placeholder]="'Opções'"
  [opened]="pesquisando && dataSource?.length > 0"
  [selectedItem]="clienteSelecionado"
  (valueChange)="nomeVlaueChange($event)">

</dx-select-box>

<input [ngModel]="clientePesquisado" (ngModelChange)="onValueChange($event)">
