<dx-text-box
  width="500"
  [showClearButton]="true"
  [placeholder]="'Pesquise aqui...'"
  [value]="produtoPesquisado"
  (onFocusIn)="focus == true"
  (onFocusOut)="focus == false"
  (valueChange)="onValueChange($event)">
</dx-text-box>

<dx-select-box
  #resultados
  width="500"
  [displayExpr]="formataProduto"
  [visible]="pesquisando"
  [dataSource]="dataSource"
  [opened]="pesquisando && dataSource?.length > 0"
  [selectedItem]="produtoSelecionado"
  (valueChange)="nomeVlaueChange($event)">

</dx-select-box>

<input [ngModel]="produtoPesquisado" (ngModelChange)="onValueChange($event)">
